<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap/start.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true">
  <testsuites>
    <testsuite name='unit'>
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

</phpunit>
